* {
  margin: 10px 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeefff;
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
